*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'poppins',sans-serif;
}
body{
	margin: 0px;
	padding: 0px;
	background-color: #d3c9d72;
	font-size: 1.3rem;
}
img{
	width: 100%;
}
p{
	color: black;
	line-height: 1.5;
	margin-bottom: 1.5rem;
}
a{
	text-decoration: none;
}
main{
	padding-top: 50px;
}
article{
	padding: 5px;
}
article h1{
	font-family: serif;
	font-size: 2rem;
	width: 170px;
	background-color: darkcyan;
	border: 2px double black;
	color: whitesmoke;
	border-radius: 10px;
	padding: 5px 5px 5px 20px;
	margin: 0px 0px 20px 60px;
	text-shadow: 2px 0px 0px black;
}
article img{
	width: 300px;
	border: 5px double darkviolet;
	border-radius: 20px;
	background-color: black;
	margin: -450px 0px 0px 950px;
}
article p{
	padding: 15px;
	font-family: cursive;
	color: black;
	width: 850px;
}
.me{
		padding: 20px;
		border-radius: 10px;
		margin: 50px 0px 0px 60px;
}
b{
	color: black;
	font-family: serif;
}
@media (min-width: 675px){

#aboutme{
width: 100%;
height: 100vh;
}
article{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
align-content: center;
}
article img{
	margin: 30px 50px 0px 50px;
}
article p{
	margin: 240px 0px 0px -100px;
	font-size: 1.2rem;
	padding: 10px;
	height: fit-content;
	width: fit-content;
	text-shadow: 2px 0px 0px whitesmoke;
}
article h1{
	margin: -250px 0px 0px 80px;
}
article h2{
	margin: -110px 0px 0px -80px;
	width: 400px;
}
.me{
		border: none;
		margin-top: 70px;
		margin-left: -50px;
	
}
	}